$primary-color: #1985A1;
$secondary-color: #4C5C68;
$primary-text-color:  #46494C;
$background-primary-color: #C5C3C6;
$background-color: #DCDCDD;

$success-color: #2A9D8F;
$warn-color: #E9C46A;
$error-color: #E76F51;