<header class="app-bar">
  <span [routerLink]="['']" class="logo col-xs-10">
    Retain
  </span>
  <nav class="col-xs-2">
    <button 
      md-button 
      [mdMenuTriggerFor]="menu"
      >Menu
      </button>
    <md-menu #menu="mdMenu">
      <button 
        md-menu-item 
        [routerLink]="['', 'about']"
      >Item 1</button>
      <button 
        md-menu-item 
        [routerLink]="['', 'tabela']"
      >Item 2</button>
    </md-menu>

    <div class="row middle-xs between-xs">
      <span [routerLink]="['', 'about']" class="link">About</span>
      <span class="link">signout</span>
    </div>
  </nav>
</header>