@import '../../styles/variables.scss';

.person-list {
    padding: 10px 0px;
    transition: all 0.2s;
    &:hover {
        background-color: $background-color;
        cursor: pointer;
    }
    .person-list__name {
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        font-size: 1.2em;
        font-weight: bold;
    }
    .person-list__dates {
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        .person-list__dates--birth {
            &::before {
                margin-right: 2px;
                content: '\2a';
            }
        }
        .person-list__dates--death {
            &::before {
                margin-right: 2px;
                content: '\271d';
            }
        }
    }
}