@import '../../styles/variables.scss';

aside {
    padding: 10px;
    min-width: 200px;
}

.close {
    position: absolute;
    right: 10px;
    color: $primary-color;
    transition: color 0.3s;
    cursor: pointer;
    &:hover {
        color: $secondary-color;
    }
}

.search-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}