

#add-marker {
    margin: 20px 0 0 370px;
    .map-button {
    width: 35px;
    height: 35px;
    text-align: center;
}

}

#remove-marker {
    margin: 20px 0 0 410px;


}
  .map-button {
    width: 35px;
    height: 35px;
    text-align: center;
}
    